*{margin:0;padding:0;font-size:30px;
	text-decoration:none;font-family:serif;font-weight:bold;
	
}
html{background:url(bg.png) no-repeat bottom center;
	background-size:100% auto;height:100%;max-width:100%;
}
body{position:relative;height:100%;width:100%;
}
#wrap{width:720px;height:520px;overflow:hidden;
	border:0px solid gray;
	position:absolute;
    top:50%;
    left:50%;
    margin-top:-260px;
    margin-left:-360px;
	z-index:0;
	}
#top{-webkit-transition:margin-top 1s ease-in-out;}
section{
	width:670px;height:470px;
	border-radius:3px;
	margin:10px auto 20px auto;
	padding:15px;
	overflow:hidden;
}
.pageNo{font-size:20px;text-align:right;margin-bottom:0px;}
section>h1{font-size:30px;text-align:center;margin-bottom:20px;}
.middle{line-height:400px;text-align:center;font-size:35px;}
.upper{margin-top:150px;}
.center{text-align:center;}
ul,ol{margin-left:2em;}
li{margin-bottom:0.5em;}
strong{color:red;}
input{width:300px;margin:0 15px;}
input[type="text"]{border:5px solid gray;}
meter,progress,audio{height:30px;width:500px;margin:0 30px;}
button,input[type="submit"]{border-radius:10px;background-color:white;box-shadow:-10px -10px 20px gray inset;padding:3px;width:5em;font-size:20px;}
.control{color:#aaa;width:100%;z-index:1;height:1em;position:absolute;top:0;left:0;}
iframe{border:0;width:670px;overflow:hidden;}
.control div{width:50%;height:50px;float:left;}
small *{font-size:25px;}
pre{border:1px dotted black;padding:4px;overflow:scroll;font-size:23px;overflow:hidden;
margin:3px auto;border-radius:10px;}
pre strong{font-size:22px;}
.btm{position:absolute;top:0;font-size:25px;color:red;}
.left{text-align:left;}
.right{text-align:right;}