*{font-weight:bold;line-height:1.5em;color:blue;text-decoration:none;}
html{height:100%;}
body{height:100%;margin:0;padding:0;
	background:url("img/bg.png") no-repeat bottom right;background-size:150%;margin:0;
	font-size:50px;}
.page{width:90%;height:100%;padding:0 5%;
	-webkit-box-pack:center;
	display:-webkit-box;-webkit-box-align:center;
	z-index:2;
	text-shadow:-3px -3px 3px white,-3px 3px 3px white,3px -3px 3px white,3px 3px 3px white;}

h1{font-size:1.5em;display:inline;color:black;}
h2{font-size:1.3em;display:inline;color:black;}
.font06{font-size:0.6em;}
.font08{font-size:0.8em;}
.font13{font-size:1.3em;}
b,b *{color:rgba(0,0,0,1.0);}

.bgimg{width:50%;height:50%;
	position:absolute;left:0;top:0;
	z-index:-1;opacity:0.3;background-size:cover;}
.inner{text-align:center;}
.inner div{margin:0 auto;}
strong{color:red;}
input[type="search"]{
	-webkit-transition:-webkit-transform 1s linear;
	width:15em;font-size:20px;padding:5px;
	border:1px solid gray;border-radius:25px;
	color:black;
	box-shadow:inset 2px 2px 7px gray;}
button{
	-webkit-transition:-webkit-transform 1s linear;
	font-size:20px;padding:5px 10px;border:1px solid white;
	border-radius:10px;color:white;
	background-color:black;
	box-shadow:inset -3px -3px 5px gray;}
button:hover{-webkit-transform:scale(6);}
input[type="search"]:hover{-webkit-transform:translate(100px,0) scale(3) ;}
@media screen and (max-width:1000px) {
	body{font-size:30px;}
}
@media screen and (max-width:600px) {
	body{font-size:20px;}
}


#meter{width:98%;height:8px;margin:1%;position:absolute;bottom:15px;border:0 solid gray;background-color:skyblue;}
#meter2{width:98%;height:8px;margin:1%;position:absolute;bottom:5px;border:0 solid gray;background-color:skyblue;}

/*ぴかちゅう*/
#picakao{background-color:yellow;width:500px;height:350px;margin:0 auto;position:relative}
.picaeye{position:absolute;top:80px;width:100px;height:100px;background-color:black;border-radius:50px;}
#picaeye1{left:80px;}
#picaeye2{right:80px;}
.picaeyelight{margin:13px 0 0 13px;width:30px;height:30px;background-color:white;border-radius:15px;}
.picahoho{position:absolute;top:190px;width:80px;height:80px;background-color:rgb(238,155,149);
	border-radius:40px;}
#picahoho1{left:20px;}
#picahoho2{right:20px;}

#picahana{position:absolute;left:210px;top:200px;width:0;height:0;
	border-top:30px solid black;
	border-left:30px solid transparent;    
	border-right:30px solid transparent;
	}
#picakuchi,#picakuchi2{position:absolute;top:250px;width:80px;height:30px;background-color:yellow;
	box-shadow:-6px 8px 0 black,6px 8px 0 black;}
#picakuchi{left:155px;border-radius:0 0 60px 40px/0 0 30px 30px ;}
#picakuchi2{left:245px;border-radius:0 0 40px 60px/0 0 30px 30px ;}
.picaeye{-webkit-animation: pachipachi 16s linear 1s infinite;}
@-webkit-keyframes pachipachi{
	50%{-webkit-transform:scale(1,1);}
	51%{-webkit-transform:scale(1,0);}
	52%{-webkit-transform:scale(1,1);}
	70%{-webkit-transform:scale(1,1);}
	71%{-webkit-transform:scale(1,0);}
	72%{-webkit-transform:scale(1,1);}
	80%{-webkit-transform:scale(1,1);}
	81%{-webkit-transform:scale(1,0);}
	82%{-webkit-transform:scale(1,1);}
}

.sample{width:330px;height:330px;display:block;}

table{width:100%;}
td{width:50%;}