
*{color:black;font-weight:bold;font-size:30px;font-family:serif}
html{height:100%;}
body{height:100%;margin:0;padding:0;background:url("bg.png") no-repeat bottom right;background-size:100%;}
.kashi{margin:5px;}
#btn1{color:black;position:absolute;bottom:0;z-index:1;}
#info{position:absolute;left:70px;color:yellow;}
.kashi{
	position:absolute;width:100%;
	text-align:center;
	-webkit-transition:color 2s linear;
	z-index:3;font-size:11%;
	text-shadow:0 0 10px white;
}
#kashi0{top:0%;}
#kashi1{top:7%;}


.page{width:90%;height:100%;padding:0 5%;
	-webkit-box-pack:center;
	display:-webkit-box;
	-webkit-box-align:center;
	color:black;
	position:absolute;
	text-align:center;
	left:2000px;
	-webkit-transition:left 2s ease-in-out;
	
}
.page img{height:65%;}
.page video{height:65%;}

/*ふぉくすけ*/
.ffhead{-webkit-animation:ffhead 1s ease-in-out 0 infinite alternate;}
@-webkit-keyframes ffhead{
	0%{-webkit-transform:rotate(-30deg);}
	100%{-webkit-transform:rotate(30deg);}
}

.ff{position:relative;height:350px;width:350px}
.fftail{height:200px;position:absolute;bottom:50px;left:0%;;background-size:cover;}
.ffbody{height:200px;position:absolute;bottom:0;left:120px;;background-size:cover}
.ffhead{height:200px;position:absolute;left:120px;background-size:cover}

b{font-weight: normal;font-style: normal;color:red;}

video{background-color:transparent;}