*{
	font-size:20px;
	padding:0;margin:0em;
	box-sizing:border-box;
	text-decoration:none;
	color:#333;
}
#wrap{
	width:414px;
	margin:0 auto;
}
header h1{text-align:center;font-size:1.5em;}
nav ul{display:-webkit-box;}
nav ul li{width:25%;text-align:center;list-style:none;
	border:1px solid gray;border-right:none;}
nav ul li:last-of-type{border-right:1px solid gray;}
nav ul li a{display:block;height:48px;line-height:48px;font-size:0.8em;}
p{padding:10px 3px;}
section{
	border:1px solid gray;margin:5px;padding:5px;
}
footer small{display:block;text-align:center;background-color:#333;color:#fff;font-size:0.8em;}

input{width:10em;}

button{margin:3px;}

video{width:100%;}

.css1{-webkit-appearance:none;width:10em;height:1em;}
