*{
	margin:0;padding:0;
	box-sizing:border-box;
}
#wrap{
	margin:0 auto;
	width:320px;
	border:1px solid gray;
	background-color:white;
}
h1{text-align:center;}
ul{list-style:none;}
li:nth-of-type(odd){background-color:#eee;}
#chizu{width:318px; height:245px;}
button{
	font-size:20px;
	width:33%;
	display:block;
	float:left;
	border:1px solid gray;
	background-color:#eee;
}
button:last-of-type{width:34%;}
#msg,#status{width:50%;float:left;}